{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h1 class="font-weight-bold mb-4 h3 fw-bold text-muted text-center">Originality Integration</h1>

    <div class="col-lg-5 mx-auto">
        <div class="card">
            <div class="card-header fw-bold text-muted text-center">Sign In
            </div>
            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" {% if message.tags %}
                             class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form action="/accounts/google/login/" method="post">
                    {% csrf_token %}
                    <center><img loading="lazy" class="mx-auto"
                                 src="https://edu.google.com/assets/icons/google-brands/classroom.svg" alt="">
                    </center>
                    <p class="text-center">You are about to sign in using a third party account from Google.</p>
                    <button role="submit" id="google-login-button" class="mx-auto btn btn-danger btn-lg btn-block fw-bold text-uppercase w-100">
                        Login with Google
                    </button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

