/credentials.json
/token.json
/mydatabase
/db.sqlite3
#/uploads/*
#/uploads/teacher_assignments/*
#/tokens/*
#/uploads/teacher_assignments/
/ token.json
/mysql-data/
/.env
#/logs/*.*
#/reports/*.*
/myenv
/django.log
