{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h1 class="font-weight-bold mb-4 display-font"><i class="bi bi-gear-wide-connected"></i> Google Classroom Settings
    </h1>
    <form action="{% url "google_classroom_settings" %}" method="post">
        <div class="card col-lg-6d">
            <div class="card-header fw-bold text-muted">Settings for the Google Classroom

            </div>
            <div class="card-body">

                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}

                {% csrf_token %}

                <div class="mb-3 row">

                    <div class="col-sm-12">
                        <label for="key" class="col-sm-4 col-form-label text-uppercase fw-bold text-muted"><i
                                class="bi bi-key"></i> Client ID
                            Key</label>
                        <input type="text" required placeholder="" class="form-control"
                               id="google_client_id" name="google_client_id" value="{{ settings.google_client_id }}"/>

                        <label for="key" class="col-sm-4 col-form-label text-uppercase fw-bold mt-3 text-muted"><i
                                class="bi bi-globe"></i> Project ID</label>
                        <input type="text" required placeholder="" class="form-control"
                               id="google_project_id" name="google_project_id" value="{{ settings.google_project_id }}"/>

                        <label for="key" class="col-sm-4 col-form-label text-uppercase fw-bold mt-3 text-muted"><i
                                class="bi bi-globe"></i> Client Secret</label>
                        <input type="text" required placeholder="" class="form-control"
                               id="google_client_secret" name="google_client_secret" value="{{ settings.google_client_secret }}"/>


                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn  btn-primary text-uppercase fw-bold"><i
                                class="bi bi-send-fill"></i> Save Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

