{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h1 class="font-weight-bold mb-4 display-font">My Courses</h1>

    <div class="card">
        <div class="card-header fw-bold text-muted">List of courses you teach
            <a href="{% url 'create_assignment' %}" class="btn btn-primary fw-bold text-uppercase"
               style="float: right !important;">Create New Assignment</a>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for course in courses %}
                    <li class="list-group-item">
                        <span class="fw-bold"> {{ course.name }}</span>
                        <a href="{% url 'show_assignments_for_course' course.id %}"
                           class="btn btn-outline-primary btn-sm float-end fw-bold text-uppercase">Assignments</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

