{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h1 class="font-weight-bold mb-4 display-font"><i class="bi bi-book-half"></i> Create New Assignment</h1>

    <form class="card" action="{% url "save_assignment" %}" method="post" enctype="multipart/form-data">
        <div class="card-header fw-bold text-muted">Assignment Details
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}

            <div>
                {% csrf_token %}

                <div class="mb-3 row">
                    <label for="title" class="col-sm-4 col-form-label text-uppercase text-muted fw-bold">Assignment
                        Title <span class="text-danger fw-bold">*</span></label>
                    <div class="">
                        <input type="text" required placeholder="Assignment Title" class="form-control" id="title"
                               name="title">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="title" class=" col-form-label text-uppercase text-muted fw-bold">Course <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="">
                            <select class="form-control" name="course">
                                {% for course in courses %}
                                    <option value="{{ course.course_id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="title" class="col-form-label text-uppercase text-muted fw-bold">Enable
                            Originality Check <span class="text-danger fw-bold">*</span></label>
                        <div class="">
                            <select required class="form-control" name="originality_enabled">
                                <option selected>YES</option>
                                <option>NO</option>

                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <label for="title" class="col-form-label text-uppercase text-muted fw-bold">Due Date <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="">

                            <input required class="form-control" id="datepicker" name="due_date" type="text"/>
                        </div>
                    </div>
                    <div class="col">
                        <label for="title" class="col-form-label text-uppercase text-muted fw-bold">Time <span
                                class="text-danger fw-bold">*</span></label>
                        <div class="">
                            <input required class="form-control" name="due_time" type="time"/>
                        </div>
                    </div>

                </div>
                <div class="mb-3 row">
                    <label for="title" class="col-sm-4 col-form-label text-uppercase text-muted fw-bold">Instruction
                        (Optional)</label>
                    <div class="">
                        <textarea class="form-control" rows="5" name="description" placeholder=""></textarea>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="title" class="col-sm-4 col-form-label text-uppercase text-muted fw-bold">Attachments
                        <span class="text-danger fw-bold">*</span></label>
                    <div class="">
                        <div class="mb-3 mt-3">
                            <label for="file" class="form-label fw-bold text-uppercase">Select File</label>
                            <input required="" class="form-control" multiple type="file" name="files">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="card-footer">
            <div class="mb-3 row">
                <label for="title" class="col-sm-4 col-form-label text-uppercase"></label>
                <div class="col-smd-8">
                    <input type="submit" class="btn btn-primary btn-lg text-uppercase fw-bold"
                           value="Create New Assignment">
                </div>
            </div>
        </div>
    </form>
{% endblock %}

