{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h2 class="font-weight-bold mb-4 display-font"><i class="bi bi-diagram-3"></i> Originality &trade; Report</h2>

<div class="card mb-3 shadow-md">
    <div class="card-header fw-bold"><span class="text-muted fw-bold">Assignment Details</span>
    </div>

    <div class="card-body">
        <h4 class="mb-3 fw-bold">Course: {{ course_details.name }}</h4>
        <h5 class="mb-3 fw-bold">Assignment: {{ assignment.title }}</h5>
        <p>{{ assignment.description }}</p>
        {% for material in assignment.materials %}
        {# {{ material.driveFile.driveFile }}#}
        <a href="{{ material.driveFile.driveFile.alternateLink }}" target="_blank"
           class="badge rounded-pill text-bg-light p-2" style="background-color: #bcc0c4 !important;">
            {{ material.driveFile.driveFile.title }}</a>

        {% endfor %}

    </div>

</div>

<div class="card mb-3 shadow-md">
    {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="card-header fw-bold"><h4 class="fw-bold">Reports from Originality &trade;</h4>
    </div>

    <div class="card-body">

        <table class="table table-striped table-bordered data-table table-sm">
            <thead class="text-uppercase table-dark">
            <tr>
                <th class="fw-bold">Full Name</th>
                <th class="fw-bold">Email</th>
                <th class="fw-bold">Grade</th>
                <th class="fw-bold">% Original</th>
<!--                <th class="fw-bold">Last Modified</th>-->
<!--                <th class="fw-bold"></th>-->
            </tr>
            </thead>
            {% for report in reports %}
            <tbody>
            <tr id="user-{{report.social_account.uid}}">

                <td class="fw-bold">
                    {{ report.profile.first_name }} {{ report.profile.last_name }}
                </td>
                <td>{{ report.profile.email }}</td>
                <td>
                    {% if not is_admin %}
                    <a href="#"
                       class="btn btn-primary btn-sm fw-bold text-uppercase btn-block my-3 w-100 grade-btn-{{report.social_account.uid}}"
                       data-bs-toggle="modal"
                       data-bs-target="#saveGradeModal"
                       data-bs-user="{{report.social_account.uid}}"
                       data-bs-assignment="{{ assignment.assignment_id }}"
                       data-bs-user="{{report.social_account.uid}}"
                       data-bs-grade="{{report.grade.grade}}"
                       data-bs-total_possible="{{report.grade.total_possible}}"
                    >Grade
                    </a>
                    {% endif %}
                    <p id="grade-text-{{report.social_account.uid}}" class="">
                        {{report.grade.grade}}/{{report.grade.total_possible}}</p>


                </td>
                <td class="">
                    <ul class="list-group ">
                        {% for report_files in report.reports %}
                        <li class="list-group-item">
                            <p>{{report_files.submission.file_name}}  - <span class="text-uppercase">{{report_files.created_at}}</span></p>
                            <p class="fw-bold">% ORIGINAL: <span class="badge text-bg-dark fw-bold">{{report_files.grade}}%</span>
                                 <a target="_blank" href="{% url 'download_submission' report_files.submission.id report_files.submission.signature %}"
                                   class="btn btn-outline-secondary mx-1 btn-sm float-end text-uppercase fw-bold"><i
                                        class="bi bi-download"></i> Original
                                </a>
                                <a target="_blank" href="{% url 'download_report' report_files.id %}"
                                   class="btn btn-success btn-sm float-end text-uppercase fw-bold"><i
                                        class="bi bi-filetype-pdf"></i> Report
                                </a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
<!--                <td>-->
<!--                    <span class="text-sm text-uppercase"> {{ report.last_modified }}</span>-->
<!--                </td>-->
<!--                <td>-->

<!--                </td>-->
            </tr>
            </tbody>
            {% endfor %}
        </table>

    </div>

</div>
<div class="modal fade" id="saveGradeModal" tabindex="-1" aria-labelledby="saveGradeModal" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div action="{% url 'save_grade' %}" method="POST" class="modal-content">
            {% csrf_token %}


            <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold text-uppercase fw-bold" id="saveGradeModalLabel">
                    <i class="bi bi-device-hdd-fill"></i> Grade</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger fw-bold" style="display: none" id="save-grade-error">
                </div>
                <input readonly type="hidden" value="" id="assignment" name="assignment_id"/>
                <input readonly type="hidden" value="" id="user" name="user_id"/>

                <div class="mb-3">
                    <label for="grade" class="form-label text-uppercase fw-bold">Grade</label>
                    <input type="number" class="form-control" id="grade" name="grade"
                           placeholder="" required>
                </div>
                <div class="mb-3">
                    <label for="total_possible" class="form-label text-uppercase fw-bold">Total Possible</label>
                    <input type="number" class="form-control" id="total_possible" name="total_possible"
                           placeholder="" required>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="saveGrade" class="btn btn-primary text-uppercase fw-bold" type="button">
                    <span style="display: none" class="save-spinner spinner-border spinner-border-sm" role="status"
                          aria-hidden="true"></span>
                    <span class="save-text">Save Grade</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>

    const button_spinner = document.getElementById("save-spinner");
    const saveGradeError = document.getElementById('save-grade-error');


    const saveGradeModal = document.getElementById('saveGradeModal')
    if (saveGradeModal) {
        saveGradeModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const assignment_id = button.getAttribute('data-bs-assignment')
            const user = button.getAttribute('data-bs-user')
            const grade = button.getAttribute('data-bs-grade')
            const total_possible = button.getAttribute('data-bs-total_possible')
            // Update the modal's content.
            const modalAssignment = saveGradeModal.querySelector('.modal-body #assignment')
            const modalUser = saveGradeModal.querySelector('.modal-body #user')
            const modalGrade = saveGradeModal.querySelector('.modal-body #grade')
            const modalTotalPossible = saveGradeModal.querySelector('.modal-body #total_possible')


            modalAssignment.value = assignment_id
            modalUser.value = user
            modalGrade.value = grade
            modalTotalPossible.value = total_possible
        })
    }

    document.getElementById('saveGrade').addEventListener('click', function () {
            saveGradeError.style.display = "none"
            var csrftoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
            const assignment_id = saveGradeModal.querySelector('.modal-body #assignment').value
            const user_id = saveGradeModal.querySelector('.modal-body #user').value
            const grade = saveGradeModal.querySelector('.modal-body #grade').value
            const total_possible = saveGradeModal.querySelector('.modal-body #total_possible').value

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            const save_spinner = document.getElementsByClassName("save-spinner");
            // Iterate through each element and modify the display property
            for (let i = 0; i < save_spinner.length; i++) {
                save_spinner[i].style.display = "inline-block";
            }

            const button = document.getElementById("saveGrade")
            // Disable the button
            button.disabled = true;


            xhr.addEventListener("readystatechange", function () {
                // Iterate through each element and modify the display property

                if (this.readyState === 4) {
                    for (let i = 0; i < save_spinner.length; i++) {
                        save_spinner[i].style.display = "none";
                    }
                    button.disabled = false;

                    if (xhr.status === 200) {
                        // Get the paragraph element by its ID
                        const grade_element = document.getElementById(`grade-text-${user_id}`);
                        grade_element.textContent = `${grade}/${total_possible}`;
                        document.querySelector('#saveGradeModal .modal-body #grade').value = grade
                        document.querySelector('#saveGradeModal .modal-body #total_possible').value = total_possible

                        document.querySelector(`.grade-btn-${user_id}`).setAttribute("data-bs-grade", grade)
                        document.querySelector(`.grade-btn-${user_id}`).setAttribute("data-bs-total_possible", total_possible)
                        // alert("Grading successful")
                        const closeModalButton = document.querySelector('#saveGradeModal [data-bs-dismiss="modal"]');
                        closeModalButton.click();
                        console.log(xhr.responseText);
                    } else if (xhr.status === 400) {
                        saveGradeError.style.display = "block"
                        const response = JSON.parse(xhr.response);
                        const errorMessage = response.Message;
                        saveGradeError.textContent = errorMessage;

                        // alert(errorMessage)
                    } else {
                        saveGradeError.style.display = "block";
                        const errorMessage = "Unexpected error occurred!";
                        saveGradeError.textContent = errorMessage;
                        console.error(xhr.statusText);
                    }
                }
            });

            xhr.open("POST", "/originality/save_grade");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader('X-CSRFToken', csrftoken);


            const formData = {
                'user_id': user_id,
                'assignment_id': assignment_id,
                'grade': grade,
                'total_possible': total_possible,
                'csrfmiddlewaretoken': csrftoken
            };
            const jsonPayload = JSON.stringify(formData);

            try {
                xhr.send(jsonPayload);
            } catch (error) {
                // Handle the error here
                console.log('An error occurred:', error);
            }
        }
    );

</script>
{% endblock %}

