{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}


    <div class="col-lg-8 mx-auto py-5">
        <center>
            <i class="bi bi-exclamation-triangle-fill  fw-bold mx-auto text-danger text-center display-1"></i>
            <p class="text-danger text-center fw-bold">Bad Request. This may be due to improper permissions</p>

            <a href="/" class="btn btn-outline-primary mx-auto fw-bold text-uppercase">Go to homepage</a>
        </center>

    </div>

{% endblock %}

