{% extends "base_generic.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
    <h1 class="font-weight-bold mb-4 display-font"><i class="bi bi-people"></i> My Courses</h1>

    <div class="card">
        <div class="card-header fw-bold text-muted">
            List of courses you are enrolled in
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <ul class="list-group list-group-flush">
                {% for class in classes %}
                    <a href="{% url 'course' class.id %}" class="list-group-item list-group-item-action"
                       aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 fw-bold"><i class="bi bi-people"></i> {{ class.name }}</h5>
                            <small>{{ class.creationTime }}</small>
                        </div>
                        <p class="mb-1">{{ class.descriptionHeading }}</p>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

